<header class="topbar">
  <div class="brand">

<div class="logo">
<img src="assets/img/logo-bookos.png">
</div>

<div>
<h1>BookOS</h1>
<small>Governança Editorial Operacional</small>
</div>

</div>

<div class="hero">

<strong>
SISTEMA EDITORIAL • DISCLOSURE • VERSIONAMENTO
</strong>

<p>
Arquitetura operacional voltada para produção editorial estruturada, rastreabilidade documental e integração de fluxos de processos de editoração.
</p>

</div>

<div class="system book-system">

<div class="system-cover">
<a href="https://syncann.com.br" target="_blank"><img src="assets/img/logo-syncann.png" alt="Syncann"></a>
</div>

</div>

</header>
